<section class="page-title bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">@@page-name</span>
          <h1 class="text-capitalize mb-4 text-lg">@@title</h1>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item text-white-50">@@page-name</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>